In [90]:

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
df = pd.read_csv('train.csv')
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [92]:
print("Ci sono",len(set(df["brand"])),"brand diversi.")
print("Ci sono",len(set(df["model_year"])), "anni diversi.")
print("Ci sono",len(set(df["model"])),"modelli diversi.")
print("Ci sono",len(set(df["fuel_type"])), "fuel_type diversi.")
print("Ci sono",len(set(df["engine"])),"engine diversi.")
print("Ci sono",len(set(df["transmission"])), "trasmissioni diverse.")
print("Ci sono",len(set(df["ext_col"])),"ext_col diversi.")
print("Ci sono",len(set(df["int_col"])), "int_col diverse.")
print("Ci sono",len(set(df["accident"])), "acciden diverse.")
print("Ci sono",len(set(df["clean_title"])),"clean_title diversi.")
print("Ci sono",len(set(df["price"])), "price diversi.")

Ci sono 57 brand diversi.
Ci sono 34 anni diversi.
Ci sono 1897 modelli diversi.
Ci sono 8 fuel_type diversi.
Ci sono 1117 engine diversi.
Ci sono 52 trasmissioni diverse.
Ci sono 319 ext_col diversi.
Ci sono 156 int_col diverse.
Ci sono 3 acciden diverse.
Ci sono 2 clean_title diversi.
Ci sono 1569 price diversi.

In [93]:
df['accident'] = df['accident'].fillna(-1)
df["accident"].replace("None reported", 0, inplace = True)

/tmp/ipykernel_25574/3213447204.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["accident"].replace("None reported", 0, inplace = True)

In [94]:
df["accident"].replace("At least 1 accident or damage reported", 1, inplace = True)

/tmp/ipykernel_25574/1854286251.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["accident"].replace("At least 1 accident or damage reported", 1, inplace = True)
/tmp/ipykernel_25574/1854286251.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["accident"].replace("At least 1 accident or damage reported", 1, inplace = True)

In [95]:
df['clean_title'] = df['clean_title'].fillna('No')

In [96]:
df["clean_title"].replace("No", 0, inplace = True)
df["clean_title"].replace("Yes", 1, inplace = True)

/tmp/ipykernel_25574/3531031253.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["clean_title"].replace("No", 0, inplace = True)
/tmp/ipykernel_25574/3531031253.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["clean_title"].replace("Yes", 1, inplace = True)
/tmp/ipykernel_25574/3531031253.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["clean_title"].replace("Yes", 1, inplace = True)

In [97]:
df['fuel_type'] = df['fuel_type'].fillna(-1)

In [98]:
model_price = df.groupby('model_year')['price'].mean()
print("Prezzo per anno modello:\n", model_price)

Prezzo per anno modello:
 model_year
1974    74124.083333
1992    26957.000000
1993    38091.871429
1994    50181.760870
1995    38205.872549
1996    17370.894180
1997    14586.419872
1998    13442.169096
1999    10702.705776
2000    13796.912186
2001    19227.459583
2002    21286.650546
2003    17021.920252
2004    19401.310506
2005    26376.852029
2006    18351.585288
2007    19449.327112
2008    20384.406711
2009    21522.417894
2010    19964.660449
2011    18084.812450
2012    19806.953897
2013    23437.342702
2014    24758.274866
2015    30974.878567
2016    33531.819655
2017    37943.234329
2018    47707.568722
2019    49375.295606
2020    61556.784074
2021    65893.857951
2022    72732.327005
2023    95707.912305
2024    78006.067901
Name: price, dtype: float64

In [ ]:
def custom_range(start, stop):
    current = start
    while current < stop:
        if 2000 <= current < 10000:
            step = 2000
        elif 10000 <= current < 1000000:
            step = 20000
        elif 1000000 <= current <= 2954083:
            step = 1000000
        else:
            break  # Se fuori dai range specificati
        yield current
        current += step

df['PriceGroup'] = pd.cut(df['price'], bins= custom_range(2000,2954083), right= False)

price_group =  df.groupby('PriceGroup').agg(
    media_anno=('model_year', 'mean'),
    count_anni = ('model_year', 'count'),
    
    
    
    
)
display(price_group)

/tmp/ipykernel_25574/220748150.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_group =  df.groupby('PriceGroup').agg(

                     media_anno  count_anni
PriceGroup
[2000, 4000)        2006.582960        1561
[4000, 6000)        2006.799640        4447
[6000, 8000)        2007.664756        6804
[8000, 10000)       2008.260092        7382
[10000, 30000)      2013.760477       71922
[30000, 50000)      2018.550494       50471
[50000, 70000)      2019.438768       22080
[70000, 90000)      2020.062512       10046
[90000, 110000)     2020.270908        4747
[110000, 130000)    2019.866792        2132
[130000, 150000)    2019.876478        1692
[150000, 170000)    2019.609475         781
[170000, 190000)    2019.862262         893
[190000, 210000)    2019.114094         596
[210000, 230000)    2017.950820         549
[230000, 250000)    2020.292683         369
[250000, 270000)    2019.869427         314
[270000, 290000)    2020.769981         513
[290000, 310000)    2018.045455          44
[310000, 330000)    2018.987097         155
[330000, 350000)    2019.060000          50
[350000, 370000)    2021.658537          41
[370000, 390000)            NaN           0
[390000, 410000)    2018.028302         106
[410000, 430000)    2018.539062         128
[430000, 450000)    2020.513889          72
[450000, 470000)    2020.701754          57
[470000, 490000)    2018.883598         189
[490000, 510000)    2019.875000          40
[510000, 530000)            NaN           0
[530000, 550000)            NaN           0
[550000, 570000)            NaN           0
[570000, 590000)            NaN           0
[590000, 610000)    2019.246753          77
[610000, 630000)            NaN           0
[630000, 650000)    2020.000000          34
[650000, 670000)            NaN           0
[670000, 690000)            NaN           0
[690000, 710000)    2019.933333          45
[710000, 730000)            NaN           0
[730000, 750000)    2020.458333          48
[750000, 770000)            NaN           0
[770000, 790000)            NaN           0
[790000, 810000)            NaN           0
[810000, 830000)            NaN           0
[830000, 850000)            NaN           0
[850000, 870000)            NaN           0
[870000, 890000)            NaN           0
[890000, 910000)            NaN           0
[910000, 930000)            NaN           0
[930000, 950000)            NaN           0
[950000, 970000)            NaN           0
[970000, 990000)            NaN           0
[990000, 1010000)           NaN           0
[1010000, 2010000)  2016.459184          98

In [100]:
df = df.drop(['model','fuel_type','engine', 'transmission', 'ext_col', 'int_col', 'id'], axis=1)

In [101]:
brands= df['brand'].unique()
#un for che attraverso un cut ci va a prendere ogni singolo brand creando n dataframe e poi per ogni n heatmap.

In [102]:
df_brand_list= []
filtered_corr= []
for brand in brands:
    
    df_brand_list.append(df[df['brand'] == brand])

for df_brand in df_brand_list:
    brand_nome = df_brand['brand'].iloc[0]
    df_brand.drop('brand', axis=1, inplace=True)
    
    corr_matrix = df_brand.corr()  
    filtered = corr_matrix.where(((corr_matrix > 0.3) | (corr_matrix < -0.3))& (corr_matrix != 1)).stack()
    filtered_corr.append((f'Brand name: {brand_nome}',filtered))
    
    
    
display(filtered_corr)
    
    
    # plt.figure(figsize=(10, 8))
    # sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
    # plt.title(f'Heatmap for Brand: {brand_nome}')
    
    # #esportarle in png 
    
    
    
    
    # plt.savefig(f'./image/{brand_nome}_heatmap.png',  bbox_inches='tight')

/tmp/ipykernel_25574/3330035294.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brand.drop('brand', axis=1, inplace=True)

TypeError: float() argument must be a string or a real number, not 'pandas._libs.interval.Interval'

In [ ]:
df['price'].min()
df['price'].nunique()

1569

In [ ]:
grouped = df.pivot_table(index='brand', values=['model_year', 'milage', 'accident'], columns='price', aggfunc='count')
grouped

              accident                                                  \
price          2000    2300    2500    2800    2899    2900    2990
brand
Acura              1.0     2.0     4.0     4.0     1.0     1.0     NaN
Alfa               NaN     NaN     NaN     NaN     NaN     NaN     NaN
Aston              NaN     NaN     NaN     NaN     NaN     NaN     NaN
Audi               1.0     2.0     1.0     1.0     NaN     NaN     3.0
BMW                1.0     4.0     5.0     5.0     1.0     4.0     1.0
Bentley            NaN     1.0     NaN     NaN     NaN     NaN     NaN
Bugatti            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Buick              NaN     NaN     NaN     NaN     NaN     NaN     NaN
Cadillac           1.0     1.0     1.0     NaN     1.0     NaN     NaN
Chevrolet          5.0     8.0    24.0     7.0     NaN     3.0     NaN
Chrysler           NaN     1.0     3.0     1.0     NaN     NaN     NaN
Dodge              1.0     3.0    12.0     NaN     NaN     1.0     1.0
FIAT               NaN     NaN     NaN     NaN     NaN     NaN     NaN
Ferrari            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Ford               6.0     4.0    23.0     2.0     2.0     2.0     3.0
GMC                1.0     1.0     4.0     NaN     NaN     1.0     NaN
Genesis            NaN     NaN     NaN     NaN     NaN     1.0     NaN
Honda              4.0     2.0     5.0     NaN     1.0     NaN     1.0
Hummer             NaN     NaN     4.0     NaN     NaN     1.0     NaN
Hyundai            1.0     1.0     2.0     NaN     NaN     2.0     NaN
INFINITI           1.0     1.0     1.0     NaN     NaN     2.0     1.0
Jaguar             1.0     1.0     NaN     NaN     NaN     NaN     NaN
Jeep               1.0     3.0     8.0     3.0     1.0     2.0     1.0
Karma              NaN     NaN     NaN     NaN     NaN     NaN     NaN
Kia                1.0     NaN     NaN     1.0     2.0     NaN     1.0
Lamborghini        NaN     NaN     NaN     NaN     NaN     NaN     NaN
Land               3.0     1.0     4.0     NaN     1.0     NaN     1.0
Lexus              4.0     3.0     8.0     2.0     1.0     6.0     3.0
Lincoln            1.0     1.0     5.0     1.0     1.0     1.0     NaN
Lotus              NaN     1.0     NaN     NaN     NaN     NaN     NaN
Lucid              NaN     NaN     NaN     NaN     NaN     NaN     NaN
MINI               1.0     1.0     NaN     1.0     2.0     NaN     NaN
Maserati           NaN     1.0     1.0     NaN     NaN     1.0     NaN
Maybach            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Mazda              2.0     3.0     3.0     NaN     1.0     1.0     NaN
McLaren            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Mercedes-Benz      2.0     9.0    16.0     2.0     5.0     1.0     3.0
Mercury            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Mitsubishi         1.0     NaN     NaN     NaN     NaN     NaN     NaN
Nissan             2.0     1.0     3.0     1.0     1.0     1.0     1.0
Plymouth           NaN     NaN     NaN     NaN     NaN     NaN     NaN
Polestar           NaN     NaN     NaN     NaN     NaN     NaN     NaN
Pontiac            3.0     2.0     3.0     1.0     NaN     NaN     NaN
Porsche            1.0     1.0     6.0     2.0     4.0     1.0     1.0
RAM                NaN     NaN     5.0     NaN     NaN     NaN     NaN
Rivian             NaN     NaN     NaN     NaN     NaN     NaN     NaN
Rolls-Royce        NaN     NaN     NaN     NaN     NaN     NaN     NaN
Saab               NaN     NaN     NaN     NaN     NaN     1.0     NaN
Saturn             NaN     NaN     NaN     NaN     NaN     NaN     NaN
Scion              NaN     NaN     NaN     NaN     NaN     1.0     NaN
Subaru             NaN     NaN     NaN     NaN     NaN     1.0     2.0
Suzuki             NaN     NaN     NaN     NaN     NaN     NaN     NaN
Tesla              NaN     NaN     NaN     NaN     NaN     NaN     NaN
Toyota             6.0    10.0    22.0     5.0     NaN     3.0     NaN
Volkswagen         3.0     4.0     4.0     1.0     NaN     NaN     NaN
Volvo              1.0     NaN     NaN     NaN     NaN     NaN     NaN
smart              NaN     NaN     NaN     NaN     NaN     NaN     NaN

                                       ... model_year                          \
price         3000    3200    3499     ...    489995  491836  599000  599995
brand                                  ...
Acura             3.0     2.0     3.0  ...        1.0     NaN     NaN     NaN
Alfa              1.0     NaN     1.0  ...        2.0     NaN     NaN     NaN
Aston             NaN     NaN     NaN  ...        NaN     1.0     NaN     NaN
Audi              8.0     2.0     3.0  ...        NaN     5.0     1.0     2.0
BMW              11.0     5.0     2.0  ...        5.0     3.0     NaN     NaN
Bentley           NaN     NaN     NaN  ...        1.0     NaN     2.0     7.0
Bugatti           NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Buick             NaN     2.0     NaN  ...        NaN     NaN     NaN     NaN
Cadillac          1.0     NaN     NaN  ...        1.0     NaN     1.0     NaN
Chevrolet        20.0     6.0     3.0  ...        6.0     5.0     1.0     1.0
Chrysler          3.0     3.0     NaN  ...        NaN     NaN     NaN     NaN
Dodge             9.0     5.0     1.0  ...        NaN     NaN     NaN     NaN
FIAT              NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Ferrari           NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Ford             21.0    13.0     3.0  ...        3.0     2.0     3.0     1.0
GMC               3.0     NaN     NaN  ...        2.0     NaN     NaN     NaN
Genesis           NaN     NaN     NaN  ...        NaN     1.0     NaN     1.0
Honda             5.0     2.0     1.0  ...        NaN     NaN     NaN     NaN
Hummer            2.0     2.0     NaN  ...        1.0     NaN     NaN     NaN
Hyundai           1.0     3.0     NaN  ...        NaN     NaN     NaN     NaN
INFINITI          1.0     1.0     NaN  ...        NaN     1.0     NaN     NaN
Jaguar            NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Jeep             11.0     4.0     1.0  ...        1.0     2.0     NaN     2.0
Karma             NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Kia               3.0     5.0     3.0  ...        NaN     2.0     NaN     2.0
Lamborghini       NaN     NaN     NaN  ...        2.0     NaN     2.0     3.0
Land              9.0     4.0     3.0  ...        2.0     1.0     4.0     3.0
Lexus            11.0     5.0     1.0  ...        1.0     NaN     1.0     3.0
Lincoln           4.0     NaN     NaN  ...        NaN     1.0     NaN     NaN
Lotus             NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Lucid             NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
MINI              3.0     4.0     NaN  ...        NaN     NaN     NaN     NaN
Maserati          1.0     NaN     NaN  ...        NaN     1.0     NaN     NaN
Maybach           NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Mazda             1.0     4.0     2.0  ...        NaN     NaN     NaN     1.0
McLaren           NaN     NaN     NaN  ...        NaN     1.0     1.0     NaN
Mercedes-Benz    14.0     1.0     5.0  ...        3.0     7.0     5.0     1.0
Mercury           1.0     NaN     NaN  ...        NaN     NaN     NaN     NaN
Mitsubishi        2.0     2.0     1.0  ...        NaN     NaN     NaN     NaN
Nissan            6.0     4.0     1.0  ...        NaN     NaN     1.0     NaN
Plymouth          NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Polestar          NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Pontiac           1.0     NaN     NaN  ...        NaN     NaN     NaN     NaN
Porsche           6.0     3.0     1.0  ...        7.0     5.0     9.0     4.0
RAM               1.0     NaN     1.0  ...        NaN     2.0     NaN     1.0
Rivian            NaN     NaN     NaN  ...        NaN     NaN     1.0     NaN
Rolls-Royce       NaN     NaN     NaN  ...        2.0     NaN     4.0     6.0
Saab              NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Saturn            NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Scion             1.0     NaN     NaN  ...        NaN     NaN     NaN     NaN
Subaru            7.0     3.0     1.0  ...        NaN     NaN     NaN     NaN
Suzuki            NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN
Tesla             NaN     NaN     NaN  ...        NaN     NaN     NaN     2.0
Toyota           18.0    13.0     4.0  ...        NaN     NaN     NaN     NaN
Volkswagen        2.0     NaN     3.0  ...        NaN     NaN     NaN     1.0
Volvo             NaN     1.0     NaN  ...        NaN     NaN     NaN     NaN
smart             NaN     NaN     NaN  ...        NaN     NaN     NaN     NaN


price         649999  695000  749950  1599000 1950995 2954083
brand
Acura             NaN     NaN     NaN     NaN     NaN     NaN
Alfa              1.0     NaN     NaN     NaN     NaN     NaN
Aston             NaN     NaN     1.0     NaN     NaN     1.0
Audi              1.0     1.0     5.0     2.0     NaN     1.0
BMW               7.0     6.0     2.0     4.0     3.0     NaN
Bentley           NaN     2.0     3.0     2.0     9.0     1.0
Bugatti           NaN     NaN     NaN     NaN     NaN     NaN
Buick             NaN     NaN     NaN     NaN     NaN     NaN
Cadillac          NaN     4.0     NaN     1.0     2.0     4.0
Chevrolet         1.0     1.0     2.0     4.0     3.0     4.0
Chrysler          NaN     1.0     NaN     NaN     NaN     1.0
Dodge             NaN     2.0     NaN     NaN     NaN     1.0
FIAT              NaN     NaN     NaN     NaN     NaN     NaN
Ferrari           NaN     1.0     1.0     1.0     NaN     NaN
Ford              2.0     6.0     2.0     1.0     6.0     9.0
GMC               NaN     NaN     1.0     NaN     NaN     1.0
Genesis           NaN     1.0     NaN     1.0     NaN     NaN
Honda             NaN     NaN     NaN     NaN     NaN     1.0
Hummer            NaN     NaN     NaN     NaN     NaN     NaN
Hyundai           NaN     NaN     NaN     NaN     NaN     1.0
INFINITI          NaN     NaN     NaN     NaN     NaN     1.0
Jaguar            1.0     2.0     NaN     NaN     NaN     NaN
Jeep              NaN     NaN     1.0     NaN     NaN     NaN
Karma             NaN     NaN     NaN     NaN     NaN     NaN
Kia               2.0     NaN     1.0     NaN     NaN     NaN
Lamborghini       2.0     NaN     5.0     5.0     1.0     NaN
Land              3.0     3.0     4.0     5.0     NaN     5.0
Lexus             2.0     NaN     NaN     1.0     1.0     4.0
Lincoln           NaN     NaN     NaN     NaN     NaN     NaN
Lotus             NaN     NaN     NaN     NaN     NaN     NaN
Lucid             NaN     NaN     NaN     NaN     NaN     NaN
MINI              NaN     NaN     NaN     NaN     NaN     NaN
Maserati          NaN     NaN     1.0     NaN     NaN     NaN
Maybach           NaN     NaN     NaN     NaN     NaN     NaN
Mazda             NaN     1.0     NaN     NaN     1.0     NaN
McLaren           NaN     NaN     NaN     NaN     NaN     NaN
Mercedes-Benz     4.0     2.0     9.0     5.0     4.0     6.0
Mercury           NaN     NaN     NaN     NaN     NaN     NaN
Mitsubishi        NaN     NaN     NaN     NaN     1.0     NaN
Nissan            NaN     1.0     NaN     1.0     NaN     NaN
Plymouth          NaN     NaN     NaN     NaN     NaN     NaN
Polestar          NaN     NaN     NaN     NaN     NaN     NaN
Pontiac           NaN     NaN     NaN     NaN     NaN     1.0
Porsche           5.0     3.0     7.0    14.0    14.0     NaN
RAM               NaN     NaN     1.0     1.0     1.0     5.0
Rivian            NaN     1.0     NaN     NaN     NaN     NaN
Rolls-Royce       NaN     4.0     2.0     2.0     1.0     NaN
Saab              NaN     NaN     NaN     NaN     NaN     NaN
Saturn            NaN     NaN     NaN     NaN     NaN     NaN
Scion             NaN     NaN     NaN     NaN     NaN     NaN
Subaru            NaN     NaN     NaN     NaN     NaN     NaN
Suzuki            NaN     NaN     NaN     NaN     NaN     NaN
Tesla             2.0     2.0     NaN     1.0     NaN     1.0
Toyota            1.0     1.0     NaN     NaN     NaN     2.0
Volkswagen        NaN     NaN     NaN     NaN     NaN     NaN
Volvo             NaN     NaN     NaN     NaN     NaN     NaN
smart             NaN     NaN     NaN     NaN     NaN     NaN

[57 rows x 4707 columns]

In [ ]:
import seaborn as sns
corr = df.groupby('brand').corr()

# Plotting Heatmap
plt.figure(figsize=(10,8))
sns.heatmap(corr, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Heatmap of Cars Table')
plt.show()