In [37]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [38]:
df = pd.read_csv('Movie.csv')
df.isnull().sum()

print("\nInformazioni Data Frame Movie\n\n")

display(df.info())

Informazioni Data Frame Movie


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432295 entries, 0 to 432294
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    432295 non-null  int64
 1   title                 432295 non-null  object
 2   vote_average          432295 non-null  float64
 3   vote_count            432295 non-null  int64
 4   status                432295 non-null  object
 5   release_date          414562 non-null  object
 6   revenue               432295 non-null  int64
 7   runtime               432295 non-null  int64
 8   adult                 432295 non-null  bool
 9   backdrop_path         183573 non-null  object
 10  budget                432295 non-null  int64
 11  homepage              54111 non-null   object
 12  tconst                432295 non-null  object
 13  original_language     432295 non-null  object
 14  original_title        432295 non-null  object
 15  overview              391238 non-null  object
 16  popularity            432295 non-null  float64
 17  poster_path           358326 non-null  object
 18  tagline               90930 non-null   object
 19  genres                355422 non-null  object
 20  production_companies  262127 non-null  object
 21  production_countries  321539 non-null  object
 22  spoken_languages      331463 non-null  object
 23  keywords              170701 non-null  object
 24  directors             421940 non-null  object
 25  writers               365214 non-null  object
 26  averageRating         432295 non-null  float64
 27  numVotes              432295 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(18)
memory usage: 89.5+ MB

None

In [39]:
df.head(
    
)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2615046
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2200215
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,2946971
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1409099
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1483869

In [40]:
df['tconst']

0          tt1375666
1          tt0816692
2          tt0468569
3          tt0499549
4          tt0848228
             ...
432290    tt12093078
432291    tt12745342
432292     tt9535492
432293    tt12343244
432294    tt12604106
Name: tconst, Length: 432295, dtype: object

In [ ]:
df = df.drop(['id','backdrop_path', "poster_path", "homepage", "tconst", 'tagline', 'overview', 'keywords', 'spoken_languages', 'release_date', 'writers' , 'status'], axis=1)

# original_title = df['original_title']

# df.drop(['original_title'], axis=1)

In [42]:
df.head(
    
)

,title,vote_average,vote_count,revenue,runtime,adult,budget,original_language,original_title,popularity,genres,production_companies,production_countries,directors,averageRating,numVotes
0,Inception,8.364,34495,825532764,148,False,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America",Christopher Nolan,8.8,2615046
1,Interstellar,8.417,32571,701729206,169,False,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",Christopher Nolan,8.7,2200215
2,The Dark Knight,8.512,30619,1004558444,152,False,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America",Christopher Nolan,9.0,2946971
3,Avatar,7.573,29815,2923706026,162,False,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom",James Cameron,7.9,1409099
4,The Avengers,7.710,29166,1518815515,143,False,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,Joss Whedon,8.0,1483869

In [43]:
gruppo_registi = df.groupby('directors')['averageRating'].mean()

sottogruppi = {
    "Da 0 a 4": gruppo_registi[(gruppo_registi >= 0) & (gruppo_registi < 4)],
    "Da 4 a 7": gruppo_registi[(gruppo_registi >= 4) & (gruppo_registi < 7)],
    "Da 7 a 10": gruppo_registi[(gruppo_registi >= 7) & (gruppo_registi <= 10)]
}

# Stampare i risultati
for fascia, gruppo in sottogruppi.items():
    print(f"--- {fascia} ---")
    print(gruppo)

--- Da 0 a 4 ---
directors
'Bob' Insert               3.9
'Philthy' Phil Phillips    3.8
2KTHOMAS, Calliope Var     3.0
A. Danielyan               2.7
A. Jagadesh                3.8
                          ...
Özgür Dogruöz              2.5
Özgür Yelence              3.2
Özgür Özberk               3.2
Özlem Yesilyurt            3.1
Ümit Degirmenci            2.8
Name: averageRating, Length: 7667, dtype: float64
--- Da 4 a 7 ---
directors
'Evil' Ted Smith                                       4.000000
'Horny' Harry                                          6.675000
50 Cent, J. Jesses Smith                               4.700000
A'Ali de Sousa                                         4.300000
A. Akbarxojayev                                        6.400000
                                                         ...
Ünal Küpeli                                            5.025000
Þorsteinn Gunnar Bjarnason                             5.800000
Þorsteinn Jónsson                                      6.466667
Þráinn Bertelsson                                      6.871429
Þórdur Bragi Jónsson, Una Lorenzen, Heather Millard    6.200000
Name: averageRating, Length: 99450, dtype: float64
--- Da 7 a 10 ---
directors
'Weird Al' Yankovic                                                                                                                                                                                                                        7.2
'Wáats'asdíyei Joe Yates                                                                                                                                                                                                                   9.5
A'Shaela Abdon, Jezibell Anat, Stephen Gilliam, Steven Goransky, Julianna Johnston, Justin Little, Chris Martino, Rachel Miller, Eli Montgomery, Matt Pitchford, Eric E. Poe, Jakin Shaw, Kathy Simmons, Nikki Wilder, Brandon Woodward    7.1
A. Balakrishnan                                                                                                                                                                                                                            7.9
A. Bhimsingh, Christopher Coelho                                                                                                                                                                                                           7.9
                                                                                                                                                                                                                                          ...
Þorvarður Björgúlfsson                                                                                                                                                                                                                     8.0
Þorvarður Björgúlfsson, Árni Gunnarsson, Steingrímur Karlsson                                                                                                                                                                              8.3
Þóra Fjelsted, Jón Karl Helgason                                                                                                                                                                                                           7.6
Þórdur Bragi Jónsson, Heather Millard                                                                                                                                                                                                      9.0
Þórhildur Þorleifsdóttir                                                                                                                                                                                                                   7.2
Name: averageRating, Length: 53138, dtype: float64

In [44]:
da_0_a_4 = gruppo_registi[(gruppo_registi >= 0) & (gruppo_registi < 4)].sort_values(ascending=False)
da_4_a_7 = gruppo_registi[(gruppo_registi >= 4) & (gruppo_registi < 7)].sort_values(ascending=False)
da_7_a_10 = gruppo_registi[(gruppo_registi >= 7) & (gruppo_registi <= 10)].sort_values(ascending=False)

# Stampare i risultati ordinati
print("--- Da 0 a 4 (Classifica) ---")
print(da_0_a_4)

print("\n--- Da 4 a 7 (Classifica) ---")
print(da_4_a_7)

print("\n--- Da 7 a 10 (Classifica) ---")
print(da_7_a_10)

--- Da 0 a 4 (Classifica) ---
directors
Bernard-Henri Lévy                              4.000000
Ted Peshak                                      3.995652
Micheal Bafaro                                  3.990909
Tommy Brunswick                                 3.990909
Tom DeNucci                                     3.988889
                                                  ...
Geshin Salvador                                 1.000000
De Gaulle Eid                                   1.000000
Fuat Kurtoglu                                   1.000000
Alexia Kosmider, Blue Wade                      1.000000
Andrew Butler, James Andrew Mackenzie Wilson    1.000000
Name: averageRating, Length: 7667, dtype: float64

--- Da 4 a 7 (Classifica) ---
directors
Keith Truesdell          6.997674
Hirokazu Koreeda         6.995652
Rudolf Jugert            6.995122
Anurag Kashyap           6.994444
Kira Muratova            6.994118
                           ...
Aghasi Ayvazyan          4.000000
Muralidharan Chinniah    4.000000
Musaab Mustafa           4.000000
Mustafa Boga             4.000000
'Evil' Ted Smith         4.000000
Name: averageRating, Length: 99450, dtype: float64

--- Da 7 a 10 (Classifica) ---
directors
Tymika Chambliss-Williams             10.0
Jen Osborne                           10.0
Pablo Trobo                           10.0
Naveen Mu                             10.0
Gian Ferraiolo                        10.0
                                      ...
Hugues Lawson Body                     7.0
Huijing Xu                             7.0
Humberto Castro, Bryan G. Thompson     7.0
Humberto López y Guerra                7.0
Kai Kreuser                            7.0
Name: averageRating, Length: 53138, dtype: float64

In [45]:
da_7_a_10.count()

np.int64(53138)

In [46]:
da_4_a_7.count()

np.int64(99450)

In [47]:
da_0_a_4.count()

np.int64(7667)

In [48]:
df["adult"].replace("False", 0, inplace = True)
df["adult"].replace("True", 1, inplace = True)

/tmp/ipykernel_71362/3762253385.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["adult"].replace("False", 0, inplace = True)
/tmp/ipykernel_71362/3762253385.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["adult"].replace("True", 1, inplace = True)

In [55]:
df['genere_film'] = df['genres'].str.split(',').str[0]

In [56]:
df['genere_film']

0                  Action
1               Adventure
2                   Drama
3                  Action
4         Science Fiction
               ...
432290        Documentary
432291        Documentary
432292                NaN
432293                NaN
432294             Comedy
Name: genere_film, Length: 432295, dtype: object

In [ ]:
def analyze_and_plot_fixed(dataframe, group_col, base_path):
    # Lista per DataFrame filtrati e correlazioni
    filtered_corr_list = []
    
    # Valori unici della colonna
    unique_values = dataframe[group_col].unique()
    
    for value in unique_values:
        # Filtra il DataFrame
        df_filtered = dataframe[dataframe[group_col] == value]
        
        if df_filtered.empty:
            continue  # Salta se il DataFrame è vuoto
        
        # Nome del gruppo
        group_name = str(df_filtered[group_col].iloc[0]).replace("/", "-")  # Gestione di caratteri speciali
        
        # Rimuovi le colonne non necessarie
        df_cleaned = df_filtered.drop(['title',"original_title", 'directors', 'production_companies', 'production_countries', 'genres', 'original_language','genere_film'], axis=1, errors='ignore')
        
        # Calcola la matrice di correlazione
        corr_matrix = df_cleaned.corr()
        
        # Filtra correlazioni significative
        filtered = corr_matrix.where(((corr_matrix > 0.3) | (corr_matrix < -0.3)) & (corr_matrix != 1)).stack()
        filtered_corr_list.append((f'{group_col} name: {group_name}\n', filtered))
        
        # Crea la directory per salvare le immagini
        save_path = os.path.join(base_path, group_col)
        os.makedirs(save_path, exist_ok=True)
        
        # Plotta la heatmap
        plt.figure(figsize=(10, 8))
        sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
        plt.title(f'Heatmap for {group_col}: {group_name}')
        
        # # Salva il grafico
        # plt.savefig(f'{save_path}/{group_name}_heatmap.png', bbox_inches='tight')
        # plt.close()  # Chiudi il grafico per evitare conflitti
        
    return filtered_corr_list

# Applica la funzione corretta
base_path = './image'
filtered_corr_title = analyze_and_plot_fixed(df,'genere_film', base_path)

In [ ]:
display(filtered_corr_title )

In [ ]:
def barplots_corr(relevant_correlations, nome_lista):
    pairs = []
    occurrences = []
    for pair, element in relevant_correlations.items():
        pairs.append(f"{pair[0]} - {pair[1]}")
        occurrences.append(len(element))

    # Visualizzazione con Matplotlib e Seaborn
    plt.figure(figsize=(12, 8))
    sns.barplot(x=occurrences, y=pairs, palette="viridis")
    plt.xlabel(f"Numero di {nome_lista}")
    plt.ylabel("Coppie di colonne")
    plt.title("Coppie di colonne con correlazioni presenti in almeno 2 brand")
    plt.tight_layout()
    plt.show()


barplots_corr(relevant_correlations_brands,"brands")
print("\n\n---------------------\n\n")
barplots_corr(relevant_correlations_engines,"engines")
print("\n\n---------------------\n\n")
barplots_corr(relevant_correlations_fuels,"fuels")
print("\n\n---------------------\n\n")
barplots_corr(relevant_correlations_trans,"trans")