In [3]:
import numpy as np 
import pandas as pd

In [4]:
# Generazione di numeri casuali e creazione del DataFrame
np.random.seed(42)  # Per ottenere risultati riproducibili

In [5]:
data = np.random.randint(0, 100, size=(10, 3))

In [6]:
df = pd.DataFrame(data, columns=["Colonna 1", "Colonna 2", "Colonna 3"])

df

   Colonna 1  Colonna 2  Colonna 3
0         51         92         14
1         71         60         20
2         82         86         74
3         74         87         99
4         23          2         21
5         52          1         87
6         29         37          1
7         63         59         20
8         32         75         57
9         21         88         48

In [7]:
series = pd.Series(np.random.randint(0, 100, size=15))

In [8]:
null_indices = np.random.choice(series.index, size=3, replace=False)
series.loc[null_indices] = np.nan

In [9]:
series_filled = series.ffill()

In [10]:
series, series_filled

(0     90.0
 1     58.0
 2     41.0
 3     91.0
 4     59.0
 5      NaN
 6     14.0
 7     61.0
 8     61.0
 9      NaN
 10    61.0
 11    50.0
 12    54.0
 13     NaN
 14     2.0
 dtype: float64,
 0     90.0
 1     58.0
 2     41.0
 3     91.0
 4     59.0
 5     59.0
 6     14.0
 7     61.0
 8     61.0
 9     61.0
 10    61.0
 11    50.0
 12    54.0
 13    54.0
 14     2.0
 dtype: float64)

In [11]:
print(null_indices)

[13  5  9]

In [12]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=["a", "b", "c", "d"], columns=["one", "two"])