In [1]:
import numpy as np 
import pandas as pd

In [18]:
data = {
    "Prodotto": ["Racchetta", "Scarpe", "Pallina", "Corde", "Integratori", "Maglie"],
    "Quantità": [10, 5, 8, 15, 7, 12],
    "Prezzo Unitario": [200, 50, 10, 20, 50, 30],
    "Città": ["Roma", "Milano", "Torino", "Bari", "Napoli", "Bologna"]
}

In [19]:
df = pd.DataFrame(data)

In [20]:
df["Totale Vendite"] = df["Quantità"] * df["Prezzo Unitario"]
df

      Prodotto  Quantità  Prezzo Unitario    Città  Totale Vendite
0    Racchetta        10              200     Roma            2000
1       Scarpe         5               50   Milano             250
2      Pallina         8               10   Torino              80
3        Corde        15               20     Bari             300
4  Integratori         7               50   Napoli             350
5       Maglie        12               30  Bologna             360

In [21]:
vendite_totali_prodotto = df.groupby("Prodotto")["Totale Vendite"].sum()
print("\nTotale vendite per prodotto:\n", vendite_totali_prodotto)

Totale vendite per prodotto:
 Prodotto
Corde           300
Integratori     350
Maglie          360
Pallina          80
Racchetta      2000
Scarpe          250
Name: Totale Vendite, dtype: int64

In [22]:
prodotto_piu_venduto = df.groupby("Prodotto")["Quantità"].sum().idxmax()
print("\nProdotto più venduto (Quantità):", prodotto_piu_venduto)

Prodotto più venduto (Quantità): Corde

In [23]:
citta_maggiore_volume = df.groupby("Città")["Totale Vendite"].sum().idxmax()
print("\nCittà con il maggior volume di vendite totali:", citta_maggiore_volume)

Città con il maggior volume di vendite totali: Roma

In [25]:
vendite_superiori_1000 = df[df["Totale Vendite"] > 1000]
print("\nVendite superiori a 1000 euro:\n", vendite_superiori_1000)

Vendite superiori a 1000 euro:
     Prodotto  Quantità  Prezzo Unitario Città  Totale Vendite
0  Racchetta        10              200  Roma            2000

In [26]:
df_ordinato = df.sort_values(by="Totale Vendite", ascending=False)
print("\nDataset ordinato per Totale Vendite:\n", df_ordinato)

Dataset ordinato per Totale Vendite:
       Prodotto  Quantità  Prezzo Unitario    Città  Totale Vendite
0    Racchetta        10              200     Roma            2000
5       Maglie        12               30  Bologna             360
4  Integratori         7               50   Napoli             350
3        Corde        15               20     Bari             300
1       Scarpe         5               50   Milano             250
2      Pallina         8               10   Torino              80

In [27]:
numero_vendite_citta = df.groupby("Città")["Quantità"].sum()
print("\nNumero di vendite per città:\n", numero_vendite_citta)

Numero di vendite per città:
 Città
Bari       15
Bologna    12
Milano      5
Napoli      7
Roma       10
Torino      8
Name: Quantità, dtype: int64