In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
'Regione': [
'Nord', 'Sud', 'Nord', 'Est', 'Ovest', 'Sud',
'Est', 'Nord', 'Ovest', 'Sud', 'Nord', 'Est', 'Sud'
],
'Prodotto': [
'A', 'A', 'B', 'B', 'A', 'B',
'A', 'B', 'B', 'A', 'A', 'B', 'A'
],
'Vendite': [
100, 150, 200, 250, 300, 350,
400, 180, 260, 220, 130, 310, 170
]
}

df = pd.DataFrame(data)
print(df)

   Regione Prodotto  Vendite
0     Nord        A      100
1      Sud        A      150
2     Nord        B      200
3      Est        B      250
4    Ovest        A      300
5      Sud        B      350
6      Est        A      400
7     Nord        B      180
8    Ovest        B      260
9      Sud        A      220
10    Nord        A      130
11     Est        B      310
12     Sud        A      170

In [4]:
pivot_sum = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc='sum', fill_value=0)
print(pivot_sum)

Prodotto    A    B
Regione
Est       400  560
Nord      230  380
Ovest     300  260
Sud       540  350

In [5]:
pivot_multi = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=['sum', 'mean'], fill_value=0)
print(pivot_multi)

          sum        mean
Prodotto    A    B      A      B
Regione
Est       400  560  400.0  280.0
Nord      230  380  115.0  190.0
Ovest     300  260  300.0  260.0
Sud       540  350  180.0  350.0

In [ ]:
def range_vendite(x):
    return x.max() - x.min()

pivot_custom = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=range_vendite, fill_value=0)
print(pivot_custom)

Prodotto   A   B
Regione
Est        0  60
Nord      30  20
Ovest      0   0
Sud       70   0

In [10]:
data = {
    'Regione': ['Nord', 'Sud', 'Nord', 'Est', 'Ovest', 'Sud', 'Est', 'Ovest', 'Nord', 'Sud', 'Est', 'Ovest', 'Sud', 'Est', 'Ovest'],
    'Prodotto': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'B', 'A', 'B', 'B'],
    'Vendite': [100, 150, 200, 250, 300, 350, 400, 450, 120, 180, 220, 270, 160, 380, 460]
}

df = pd.DataFrame(data)
df

   Regione Prodotto  Vendite
0     Nord        A      100
1      Sud        A      150
2     Nord        B      200
3      Est        B      250
4    Ovest        A      300
5      Sud        B      350
6      Est        A      400
7    Ovest        B      450
8     Nord        A      120
9      Sud        A      180
10     Est        B      220
11   Ovest        B      270
12     Sud        A      160
13     Est        B      380
14   Ovest        B      460

In [9]:
pivot_df = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=['mean', 'sum'])


print(pivot_df)

                mean              sum
Prodotto           A           B    A     B
Regione
Est       400.000000  283.333333  400   850
Nord      110.000000  200.000000  220   200
Ovest     300.000000  393.333333  300  1180
Sud       163.333333  350.000000  490   350

In [13]:
def calcolo_varianza(x):
    return np.var(x)

pivot_df = df.pivot_table(values='Vendite', index='Regione', columns='Prodotto', aggfunc=calcolo_varianza, fill_value=0)

print(pivot_df)

Prodotto           A            B
Regione
Est         0.000000  4822.222222
Nord      100.000000     0.000000
Ovest       0.000000  7622.222222
Sud       155.555556     0.000000