In [1]:
import numpy as np 
import pandas as pd

In [3]:


df1 = pd.DataFrame({
'key': ['A', 'B', 'C'],
'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
'key': ['A', 'B', 'D'],
'value2': [4, 5, 6]
})

In [4]:
df_merge = pd.merge(df1, df2, on='key', how='inner')

print(df_merge)

  key  value1  value2
0   A       1       4
1   B       2       5

In [5]:
df_merge_out = pd.merge(df1, df2, on='key', how='outer')

print(df_merge_out)

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [6]:
df1 = pd.DataFrame({
    'A': ['foo', 'bar'],
    'B': [1, 2]
})

df2 = pd.DataFrame({
    'A': ['baz', 'qux'],
    'B': [3, 4]
})

In [17]:
# Impilare i DataFrame uno sopra l'altro
result = pd.concat([df1, df2], ignore_index=True)

print(result)

  chiave1 chiave2    A    B
0      K0      K0   A0  NaN
1      K1      K1   A1  NaN
2      K2      K0   A2  NaN
3      K0      K0  NaN   B0
4      K1      K0  NaN   B1
5      K3      K0  NaN   B3

In [15]:
df1 = pd.DataFrame({
    'chiave1': ['K0', 'K1', 'K2'],
    'chiave2': ['K0', 'K1', 'K0'],
    'A': ['A0', 'A1', 'A2']
})

df2 = pd.DataFrame({
    'chiave1': ['K0', 'K1', 'K3'],
    'chiave2': ['K0', 'K0', 'K0'],
    'B': ['B0', 'B1', 'B3']
})

In [ ]:
df_left = pd.merge(df1, df2, on=['chiave1', 'chiave2'], how='left')

print(df_left)

  chiave1 chiave2   A    B
0      K0      K0  A0   B0
1      K1      K1  A1  NaN
2      K2      K0  A2  NaN

In [18]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=[0, 1, 2])

df2 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
}, index=[0, 2, 3])

In [19]:
result = pd.concat([df1, df2], axis=1)

print(result)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1  NaN  NaN
2   A2   B2   C1   D1
3  NaN  NaN   C2   D2

In [20]:
df1 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3']
})

df2 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2'],
'B': ['B0', 'B1', 'B2']
})

df3 = pd.DataFrame({
'chiave': ['K1', 'K2', 'K4'],
'C': ['C1', 'C2', 'C4']
})

In [25]:
mergered = pd.merge(df1,df2, on="chiave", how="inner")
print(mergered)
result = pd.merge(mergered, df3, on="chiave", how="right")

print(f"risultato con rightjoin:")
print(result)

result2 = pd.merge(mergered, df3, on="chiave", how="outer")


print(f"risultato con outer join:")
print(result2)

result3 = pd.merge(mergered, df3, on="chiave", how="inner")


print(f"risultato con inner join:")
print(result3)

result4 = pd.merge(mergered, df3, on="chiave", how="left")

print(f"risultato con left join:")
print(result4)

  chiave   A   B
0     K0  A0  B0
1     K1  A1  B1
2     K2  A2  B2
risultato con rightjoin:
  chiave    A    B   C
0     K1   A1   B1  C1
1     K2   A2   B2  C2
2     K4  NaN  NaN  C4
risultato con outer join:
  chiave    A    B    C
0     K0   A0   B0  NaN
1     K1   A1   B1   C1
2     K2   A2   B2   C2
3     K4  NaN  NaN   C4
risultato con inner join:
  chiave   A   B   C
0     K1  A1  B1  C1
1     K2  A2  B2  C2
risultato con left join:
  chiave   A   B    C
0     K0  A0  B0  NaN
1     K1  A1  B1   C1
2     K2  A2  B2   C2

In [26]:
data = {
'Data': ['2024-01', '2024-01', '2024-02', '2024-02'],
'Categoria': ['A', 'B', 'A', 'B'],
'Valore': [10, 20, 15, 25]
}

df = pd.DataFrame(data)

In [27]:
df_pivot = df.pivot(index='Data', columns='Categoria', values='Valore').reset_index()


print(df_pivot)

Categoria     Data   A   B
0          2024-01  10  20
1          2024-02  15  25

In [28]:
data = {
'Venditore': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie'],
'Mese': ['Gennaio', 'Gennaio', 'Febbraio', 'Febbraio', 'Gennaio'],
'Vendite': [200, 150, 300, 250, 100]
}

df = pd.DataFrame(data)

In [30]:
pivot = df.pivot_table(index='Venditore', columns='Mese', values='Vendite', aggfunc='sum', fill_value=0)

print(pivot)

Mese       Febbraio  Gennaio
Venditore
Alice           300      200
Bob             250      150
Charlie           0      100

In [31]:
pivot['Totale'] = pivot.sum(axis=1)

print(pivot)

Mese       Febbraio  Gennaio  Totale
Venditore
Alice           300      200     500
Bob             250      150     400
Charlie           0      100     100